[report]
exclude_lines =
    if __name__ == .__main__.:

[run]
omit =
    napari_cellseg3d/setup.py, napari_cellseg3d/code_models/models/wnet/train_wnet.py, napari_cellseg3d/code_models/models/wnet/model.py,napari_cellseg3d/code_models/models/TEMPLATE_model.py, napari_cellseg3d/code_models/models/unet/*, napari_cellseg3d/dev_scripts/*, napari_cellseg3d/code_plugins/plugin_metrics.py
