/UNKNOWN.egg-info/dependency_links.txt
/napari_cellseg_annotator/loader.py
/UNKNOWN.egg-info/PKG-INFO
/napari_cellseg_annotator/predicter.py
/UNKNOWN.egg-info/SOURCES.txt
/UNKNOWN.egg-info/top_level.txt
/napari_cellseg_annotator/trainer.py
