# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# unwanted results files
*.tif
*.tiff
napari_cellseg3d/_tests/res/*.csv
*.pth
*.pt
*.onnx
*.tar.gz
*.db

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask instance folder
instance/

# Sphinx documentation
docs/_build/

# MkDocs documentation
/site/

# PyBuilder
target/

# Pycharm and VSCode
.idea/
venv/
.vscode/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store

# written by setuptools_scm
**/_version.py

# WANDB
/wandb/


########
#project specific
#dataset, weights, old logos, requirements
/napari_cellseg3d/code_models/models/dataset/
/napari_cellseg3d/code_models/models/saved_weights/
/docs/source/logo/old_logo/
/docs/source/code/_autosummary/
/reqs/
/loss_plots/
/wandb/
notebooks/csv_cell_plot.html
notebooks/full_plot.html
*.csv
*.png
notebooks/instance_test.ipynb
*.prof
/docs/_build/
/docs/source/code/_autosummary/*.rst
cov.syspath.txt
napari_cellseg3d/dev_scripts/wandb
wandb/

#include test data
!napari_cellseg3d/_tests/res/test.tif
!napari_cellseg3d/_tests/res/test.png
!napari_cellseg3d/_tests/res/test_labels.tif
!napari_cellseg3d/_tests/res/wnet_test/*.tif
!napari_cellseg3d/_tests/res/wnet_test/lab/*.tif
!napari_cellseg3d/_tests/res/wnet_test/vol/*.tif
!examples/*

#include docs images
!docs/source/logo/*
!docs/source/images/*
lcov.info
coverage.lcov
