absl-py==0.12.0
alabaster==0.7.12
appdirs==1.4.4
appnope==0.1.2
astunparse==1.6.3
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
cachetools==4.2.2
cachey==0.2.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
dask==2021.4.1
dask-image==0.6.0
decorator==4.4.2
docstring-parser==0.7.3
docutils==0.16
flatbuffers==1.12
freetype-py==2.2.0
fsspec==2021.4.0
gast==0.4.0
google-auth==1.30.1
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
HeapDict==1.0.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
locket==0.2.1
magicgui==0.1.6
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
napari==0.4.0
napari-console==0.0.3
napari-plugin-engine==0.1.9
napari-svg==0.1.5
networkx==2.5.1
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.1.1
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
parso==0.8.2
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
PIMS==0.5
prompt-toolkit==3.0.18
protobuf==3.17.2
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.8.1
Pygments==2.8.1
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.1
scipy==1.6.3
six==1.15.0
slicerator==1.0.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
tifffile==2021.4.8
toolz==0.11.1
tornado==6.1
tqdm==4.61.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
vispy==0.6.6
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1