black
coverage
isort
pytest
pytest-qt
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
tox
twine
numpy
napari>=0.4.14
PyQt5>=5.15.6
opencv-python>=4.5.5.62
dask-image>=0.6.0
scikit-image>=0.19.2
matplotlib>=3.4.1
tifffile>=2022.2.9
imageio-ffmpeg>=0.4.5
torch==1.11
monai==0.8.1
nibabel
pillow
itk==5.2.0.post1
vispy>=0.9.6
