black
coverage
imageio-ffmpeg>=0.4.5
isort
itk
jupyter-book
pytest
pytest-qt
tox
twine
numpy
napari[all]>=0.4.14
QtPy
opencv-python>=4.5.5
pre-commit
pyclesperanto-prototype>=0.22.0
matplotlib>=3.4.1
ruff
tifffile>=2022.2.9
torch>=1.11
monai[nibabel,einops,tifffile]>=1.0.1
pillow
scikit-image>=0.19.2
vispy>=0.9.6
