black
coverage
isort
pytest
pytest-qt
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
tox
twine
numpy
napari[all]>=0.4.14
QtPy
opencv-python>=4.5.5
dask-image>=0.6.0
matplotlib>=3.4.1
tifffile>=2022.2.9
imageio-ffmpeg>=0.4.5
torch>=1.11
monai[nibabel,scikit-image,itk,einops]>=0.9.0
pillow
vispy>=0.9.6
